@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: #001821;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-weight: normal;
}

input:focus, textarea:focus {
  outline-color: #F5170E;
}

button {
  border: none;
  font-family: "Open Sans", Helvetica, sans-serif;
  background: transparent;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.feedback-page-wrapper {
  background: url(./img/services/headline.png) center top no-repeat, #FFFFFF;
}

.container {
  width: 1140px;
  margin: 0 auto;
  }

.container--top {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 81px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 67px;
}

.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

  .menu__item {
    margin-right: 55px;
  }

  .menu__item:last-child {
    margin-right: 0px;
  }

  .menu__point {
    font-size: 14px;
    color: #FFFFFF;
  }

  .menu__point:hover {
    font-size: 14px;
    color: #DA0100;
  }

    .menu__point--active {
    color: #DA0100;
  }

.menu--footer {
  position: absolute;
  top: 55px;
  left: 164px;
}

.contacts {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.contacts__dropdown {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
}

.contacts__dropdown:hover .contacts__workhours-list {
  display: block;
}

.contacts__dropdown:hover .contacts__workhours::after {
  display: block;
}

.contacts__workhours-list {
  position: absolute;
  background: #EDEDED;
  opacity: 0.8;
  mix-blend-mode: normal;
  max-width: 160px;
  padding: 15px 19px;
  text-align: left;
  top: 100%;
  display: none;
  border-radius: 9px;
  margin-top: 10px;
}

.contacts__workhours::after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top-width: 0px;
  width: 0px;
  height: 0px;
  border-bottom-color: #EDEDED;
  opacity: 0.8;
  display: none;
  margin: 0px 0px 0px 36px;
}

.workours-text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  color: #1E1F20;
}
.workours-text-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
  color: #1E1F20;
}

.contacts--footer {
  position: absolute;
  top: 45px;
  right: 0;
  text-align: right;
}

  .contacts__phone {
    color: #FFFFFF;
    font-size: 26px;
  }

  .contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
  }

  .contacts__workhours:hover {
    font-size: 13px;
    text-decoration: underline;
    color: #FFFFFF;
    cursor: pointer;
  }

  .contacts__text {
    font-size: 11px;
    color: #9A9A9A;
  }

.cover {
  max-width: 50%;
  color: #FFFFFF;
}

  .cover__header {
    font-size: 72px;
    font-weight: 700;
    line-height: 98px;
    margin-bottom: 104px;
  }

  .breadcrumbs {
    color: #9A9A9A;
  }

  .breadcrumbs__list {
    display: flex;
    align-items: center;
  }

  .breadcrumbs__item {
    text-decoration-line: underline;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }

  .breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
    display: inline-block;
    margin: 0 5px;
  }

  .breadcrumbs__item:last-child:after {
    display: none;
  }

  .breadcrumbs__item--marked {
    font-weight: bold;
  }

  .breadcrumbs__link {
    color: #9A9A9A;
    cursor: pointer;
  }

.feedback-main-content--padding {
  padding-top: 121px;
}

.feedback {
  margin-bottom: 86px;
}

.feedback__list {
  margin-bottom: 68px;
  columns: 2;
}

.feedback__item {
  background: #F4F5F5;
  border-radius: 5px;
  padding: 50px 31px 32px 28px;
  margin-bottom: 17px;
  max-width: 557px;
  display: inline-block;
}

.feedback__item:last-child {
  margin-bottom: 0px;
}

.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 27px;
}

.person__desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

  .person__avatar {
    margin-right: 22px;
  }

  .person__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .person__name {
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    color: #1A1B1E;
  }

  .person__name:hover {
    color: #1A1B1E;
    cursor: pointer;
    text-decoration-line: underline;
    color: #2E77A4;
  }

.service-button-mark {
  background: #B9EAE4;
  border-radius: 35px;
  height: 37px;
  color: #303030;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 20px;
}

.feedback__content-header{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #1A1B1E;
  margin-bottom: 15px;
}

.feedback__content-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #818181;
  margin-bottom: 48px;
  max-width: 495px;
}
  .paginator {
    text-align: center;
    margin-left: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
    .paginator__display {
      font-weight: normal;
      font-size: 16px;
      margin-right: 23px;
    }
  
    .paginator__list {
      display: flex;
      align-items: center;
    }
  
    .paginator__item {
      margin-right: 1px;
    }
  
    .paginator__item:last-child {
      margin-right: 0px;
    }
  
    .paginator--other-page{
      color: #000;
      display: block;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      position: relative;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
    }
  
    .paginator--other-page:hover {
      color: #FFFFFF;
      background: #F5170E;
    }

.banner {
  background: url(./img/feedback/couple.png) right 64px bottom no-repeat, url(./img/feedback/banner.png) center center no-repeat;
  min-height: 363px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

  .banner__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    max-width: 595px;
  }

.feedback-form {
  background: #F4F5F5;
  padding-bottom: 102px;
}

  .feedback-form__header {
    padding-top: 62px;
    padding-bottom: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #1A1B1E;

  }

  .form__row {
    display: flex;
    margin-bottom: 24px;
  }

  .form__row:last-child {
    margin-bottom: 0px;
  }

  .form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    padding: 20px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000;
  }

  .form__input::placeholder {
    color: #666666;
  }

  .form__input:last-child {
    margin-right: 0px;
  }

  .form__input--textarea {
    height: 235px;
    font-family: "Open Sans", Helvetica, sans-serif;
  }

.form__tags {
  display: flex;
  margin-bottom: 30px;
  align-items: baseline;
}

.form__question {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #1A1B1E;
  max-width: 366px;
  margin-right: 70px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 -10px -10px 0;
}
  
.tag-list__item {
  margin: 0 10px 10px 0;
}

.tag-list__control {
  cursor: pointer;
}

.tag-list__checkbox:checked ~ .tag-list__tag {
  background: #B9EAE4;
}

.tag-list__checkbox {
  display: none;
}

  .service-button {
    background: #E7E7E7;
    border-radius: 35px;
    height: 37px;
    color: #303030;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 20px;
  }

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  background: #F5170E;
  width: 168px;
  height: 55px;
  border-radius: 35px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 18px 40px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background: #DA0100;
}

.button--black {
  background: #8E8E8E;
  width: 168px;
  height: 55px;
  border-radius: 35px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 18px 45px;
  display: inline-block;
  cursor: pointer;
}

.button--black:hover {
  background: #2B2B2B;
}

.form__button {
  margin-right: 17px;
}

.form__button:last-child {
  margin-right: 0px;
}


  .footer-container {
    background: black;
  }
  
    .footer {
      height: 132px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .footer__col {
      display: flex;
      align-items: center;
    }
    
    .footer__col--right {
      display: flex;
      align-items: flex-end;
    }
  
    .network {
      position: absolute;
      top: 49px;
      right: 264px;
      display: flex;
      justify-items: flex-start;
      align-items: center;
    }
      .network__item {
        margin-right: 10px;
      }
    
      .network__item:last-child {
        margin-right: 0px;
      }
    
      .network__item--telegram .network__link {
        background-image: url(./img/social/telegram.png);
      }
    
      .network__item--telegram .network__link:hover {
        background-image: url(./img/social/t-hover.png);
      }
    
      .network__item--vk .network__link {
        background-image: url(./img/social/vk.png);
      }
    
      .network__item--vk .network__link:hover {
        background-image: url(./img/social/vk-hover.png);
      }
    
      .network__item--fb .network__link {
        background-image: url(./img/social/f.png);
      }
    
      .network__item--fb .network__link:hover {
        background-image: url(./img/social/f-hover.png);
      }
    
      .network__item--insta .network__link {
        background-image: url(./img/social/instagram.png);
      }
    
      .network__item--insta .network__link:hover {
        background-image: url(./img/social/instagram-hover.png);
      }
    
      .network__link {
        display: block;
        text-decoration: none;
        width: 36px;
        height: 36px;
        background: center center no-repeat;
      }
  