@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: #001821;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-page-wrapper {
  background: url(./img/background_cover.png) center top no-repeat, url(./img/background_content.png) center bottom 150px no-repeat;
}

.container {
  width: 1140px;
  margin: 0 auto;
  }

.header {
  padding-top: 26px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 80px;
}

.logo--footer {
  display: block;

}

.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

  .menu__item {
    margin-right: 55px;
  }

  .menu__item:last-child {
    margin-right: 0px;
  }

  .menu__point {
    font-size: 14px;
    color: #FFFFFF;
  }

  .menu__point:hover {
    font-size: 14px;
    color: #DA0100;
  }

  .menu__point--active {
    color: #DA0100;
  }

.menu--footer {
  position: absolute;
  top: 55px;
  left: 164px;
}

.contacts {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.contacts__dropdown {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
}

.contacts__dropdown:hover .contacts__workhours-list {
  display: block;
}

.contacts__dropdown:hover .contacts__workhours-list::before {
  display: block;
}

.contacts__workhours-list {
  position: absolute;
  background: #EDEDED;
  opacity: 0.8;
  mix-blend-mode: normal;
  max-width: 160px;
  padding: 15px 19px;
  text-align: left;
  top: 100%;
  display: none;
  border-radius: 9px;
  margin-top: 10px;
}

.contacts__workhours-list::before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top-width: 0px;
  width: 0px;
  height: 0px;
  border-bottom-color: #EDEDED;
  display: none;
  bottom: 100%;
  right: 39px;
}

.workours-text {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  color: #1E1F20;
}
.workours-text-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
  color: #1E1F20;
}

.contacts--footer {
  position: absolute;
  top: 45px;
  right: 0;
  text-align: right;
}

  .contacts__phone {
    color: #FFFFFF;
    font-size: 26px;
  }

  .contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
  }

  .contacts__workhours:hover {
    font-size: 13px;
    text-decoration: underline;
    color: #FFFFFF;
    cursor: pointer;
  }

  .contacts__text {
    font-size: 11px;
    color: #9A9A9A;
  }

.cover {
  max-width: 50%;
  color: #FFFFFF;
  margin-bottom: 246px;
}

  .cover__header {
    font-size: 72px;
    font-weight: 700;
    line-height: 98px;
    margin-bottom: 28px;
  }

  .cover__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 34px;
  }
  
.button {
  background: #F5170E;
  width: 168px;
  height: 55px;
  border-radius: 35px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 18px 40px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background: #DA0100;
}

.button--transparent {
  background: #FFFFFF;
  height: 55px;
  width: 135px;
  padding: 18px 30px;
  border: 1px solid #F5170E;
  color: #F5170E;
}

.button--transparent:hover {
  background: #FFFFFF;
}

.button--content {
  height: 54px;
  width: 135px;
  padding: 18px 30px;
}

.tours {
  margin-bottom: 126px;
}

  .tours__header {
    color: #FFFFFF;
    display: flex;
  }
  
  .tours__list {
    display: flex;
    justify-content: space-between;
  }
  
  .tours__item {
    min-height: 450px;
    width: calc(100% / 3 - 18px);
    background: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    vertical-align: middle;
  }

  .tours__item:last-child {
    margin-right: 0px;
  }

  .tours__pic {
    min-height: 144px;
  }

  .tours__content {
    padding: 29px 0 26px 21px;
    color: #666666;
  }

  .tours__subtitle {
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
  }

  .tours__options {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }

  .tours__option {
    width: 126px;
    margin-right: 28px;
  }

  .tours__option:last-child {
    margin-right: 0px;
  }

.tours__option-iconed {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

  .tours__option-icon {
    height: 26px;
    width: 26px;
    margin-left: 6px;
  }

  .tours__option-icon:last-child {
    margin-left: 0px;
  }

  .tours__option-icon--breakfast {
    width: 36px;
  }

  .tours__option-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
  }

  .tours__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
  }

.title {
  font-weight: bold;
  font-size: 36px;
  margin-right: 13px;
  margin-bottom: 50px;
}

  .tours__title-icon {
    width: 21px;
    height: 28px;
    margin-top: 10px;
  }

.news {
  color: #FFFFFF;
  margin-bottom: 147px;
}

  .news__list {
    margin-bottom: 53px;
    display: flex;
  }
  .news__item {
    flex: 1;
    margin-right: 21px;
    border-radius: 5px;
    position: relative;
  }

  .news__item:last-child {
    margin-right: 0px;
  }

  .news__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 28px;
    height: 140px;
  }

  .news__date {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }

  .news__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-top: 12px;
    margin-bottom: 3px;
  }

  .news__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

.paginator {
  text-align: center;
  margin-left: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .paginator__display {
    font-weight: normal;
    font-size: 16px;
    margin-right: 23px;
  }

  .paginator__list {
    display: flex;
    align-items: center;
  }

  .paginator__item {
    margin-right: 1px;
  }

  .paginator__item:last-child {
    margin-right: 0px;
  }

  .paginator__page {
    color: #fff;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
  }

  .paginator__page:hover {
    color: #F5170E;
    background: #FFFFFF;
  }

.about-us {
  margin-bottom: 53px;
}

  .about-us__content {
    display: flex;
}

  .about-us__content:before {
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  border-radius: 5px;
  background: url(./img/back_content.png) center center / cover no-repeat;
}

  .about-us__description {
    background: url(./img/front_content.png) center center / cover no-repeat;
    padding: 70px 80px;
    display: flex;
    flex-direction: column;
    margin-left: -140px;
    border-radius: 5px;
    margin-top: 97px;
    width: 785px;
    height: 455px;
  }

  .title--about-us {
    margin-bottom: 38px;
  }

  .about-us__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 43px;
    width: 501px;
  }


.footer-container {
  margin-top: auto;
}

.footer {
  height: 146px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--right {
  display: flex;
  align-items: flex-end;
}

.footer-container__content {
  border-top: 4px solid #192f37;
}

.network {
  margin-right: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
  .network__item {
    margin-right: 10px;
  }

  .network__item:last-child {
    margin-right: 0px;
  }

  .network__item--telegram .network__link {
    width: 36px; height: 36px;
    background: url(./img/social/sprites.png) -66px -122px;
    position: relative;
  }

  .network__item--telegram:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 38%;
    width: 36px; height: 36px;
    background: url(./img/social/sprites.png) -66px -66px;
    transform: translate(-50% -50%);
  }

  .network__item--vk .network__link {
    width: 36px; height: 36px;
    background: url(./img/social/sprites.png) -10px -122px;
    position: relative;
  }

  .network__item--vk:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 38%;
    width: 36px; height: 36px;
    background: url(./img/social/sprites.png) -10px -66px;
    transform: translate(-50% -50%);
  }

  .network__item--fb .network__link {
    position: relative;
    width: 36px; height: 36px;
    background: url(./img/social/sprites.png) -122px -66px;
  }

  .network__item--fb:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 38%;
    width: 36px; height: 36px;
    background: url(./img/social/sprites.png) -66px -10px;
    transform: translate(-50% -50%);
  }

  .network__item--insta .network__link {
    position: relative;
    width: 36px; height: 36px;
    background: url(./img/social/sprites.png) -122px -10px;
  }

  .network__item--insta:hover:after {
    content: "";
    display: block;
    position: absolute;
    top: 38%;
    width: 36px; height: 36px;
    background: url(./img/social/sprites.png) -10px -10px;
    transform: translate(-50% -50%);
  }

  .network__link {
    display: block;
    text-decoration: none;
  }
