@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: #001821;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  width: 100%;
}

.main-page-wrapper {
  background: url(./img/background_cover.png) center top no-repeat, url(./img/background_content.png) center bottom 1000px no-repeat;
}

.container {
  width: 1140px;
  margin: 0 auto;
  }

.header {
  height: 104px;
  position: relative;
  margin-bottom: 93px;
}

.logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
}

.logo--footer {
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
}

.menu--footer {
  position: absolute;
  top: 55px;
  left: 164px;
}


.menu {
  position: absolute;
  top: 39px;
  left: 164px;
}

  .menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
  }

  .menu__item:last-child {
    margin-right: 0px;
  }

  .menu__point {
    font-size: 14px;
    color: #FFFFFF;
  }

  .menu__point:hover {
    font-size: 14px;
    color: #DA0100;
  }

.contacts {
  position: absolute;
  top: 27px;
  right: 0;
  text-align: right;
}

.contacts--footer {
  position: absolute;
  top: 45px;
  right: 0;
  text-align: right;
}

  .contacts__phone {
    color: #FFFFFF;
    font-size: 26px;
    margin-bottom: 2px;
  }

  .contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    margin-bottom: 120px;
  }

  .contacts__workhours:hover {
    font-size: 13px;
    text-decoration: underline;
    color: #FFFFFF;
    cursor: pointer;
  }

  .contacts__text {
    font-size: 11px;
    color: #9A9A9A;
  }

.cover {
  width: 520px;
  color: #FFFFFF;
  margin-bottom: 246px;
}

  .cover__header {
    font-size: 72px;
    font-weight: 700;
    line-height: 98px;
    margin-bottom: 28px;
  }

  .cover__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 34px;
  }
  
.button {
  background: #F5170E;
  width: 168px;
  height: 55px;
  border-radius: 35px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 18px 40px;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background: #DA0100;
}

.button--transparent {
  background: #FFFFFF;
  height: 55px;
  width: 135px;
  padding: 18px 30px;
  border: 1px solid #F5170E;
  color: #F5170E;
}

.button--transparent:hover {
  background: #FFFFFF;
}

.button--content {
  height: 54px;
  width: 135px;
  padding: 18px 30px;
}

.tours {
  margin-bottom: 130px;
}

  .tours__header {
    color: #FFFFFF;
    display: flex;
  }
  
  .tours__item {
    min-height: 450px;
    width: 361px;
    background: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    margin-right: 24px;
    display: inline-block;
  }

  .tours__item:last-child {
    margin-right: 0px;
  }

  .tours__pic {
    min-height: 144px;
    width: 361px;
  }

  .tours__content {
    padding: 29px 0 26px 21px;
    color: #666666;
  }

  .tours__subtitle {
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
  }

  .tours__options {
    margin-bottom: 24px;
  }

  .tours__option {
    display: inline-block;
    vertical-align: top;
    width: 126px;
  }

.tours__option-iconed {
  display: inline-block;
}

  .tours__option-icon {
    height: 26px;
    width: 26px;
    margin-left: 6px;
  }

  .tours__option-icon:last-child {
    height: 26px;
    width: 26px;
    margin-left: 0px;
  }

  .tours__option-icon--breakfast {
    width: 36px;
  }

  .tours__option-text {
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
  }

  .tours__description {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 25px;
  }

.title {
  font-weight: bold;
  font-size: 36px;
  margin-right: 13px;
  margin-bottom: 50px;

}

  .tours__title-icon {
    width: 21px;
    height: 28px;
    margin-top: 10px;
  }

.news {
  color: #FFFFFF;
  margin-bottom: 147px;
}

  .news__list {
    margin-bottom: 53px;
  }
  .news__item {
    display: inline-block;
    vertical-align: top;
    width: 555px;
    margin-right: 21px;
    border-radius: 5px;
    position: relative;
  }

  .news__item:last-child {
    margin-right: 0px;
  }

  .news__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px 28px;
    height: 140px;
  }

  .news__date {
    font-weight: normal;
    font-size: 14px;
  }

  .news__header {
    font-weight: bold;
    font-size: 24px;
    margin-top: 13px;
    margin-bottom: 6px;
  }

  .news__text {
    font-weight: normal;
    font-size: 16px;
  }

.paginator {
  text-align: center;
}

  .paginator__display, .paginator__list {
    display: inline-block;
    vertical-align: middle;
  }

  .paginator__display {
    font-weight: normal;
    font-size: 16px;
    margin-right: 23px;
  }

  .paginator__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;
  }

  .paginator__item:last-child {
    margin-right: 0px;
  }

  .paginator__page {
    color: #fff;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
  }

  .paginator__page:hover {
    color: #F5170E;
    background: #FFFFFF;
  }

.about-us {
  margin-bottom: 53px;
}
  .about-us__content:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url(./img/back_content.png) center center / cover no-repeat;
}

  .about-us__description {
    background: url(./img/front_content.png) center center / cover no-repeat;
    padding: 70px 80px;
    display: inline-block;
    vertical-align: top;
    margin-left: -140px;
    border-radius: 5px;
    margin-top: 97px;
    width: 785px;
    height: 455px;
  }

  .title--about-us {
    margin-bottom: 38px;
  }

  .about-us__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 43px;
    width: 501px;
  }

.footer {
  height: 146px;
  position: relative;
}

.footer-container__content {
  border-top: 4px solid #192f37;
}

.network {
  position: absolute;
  top: 49px;
  right: 264px;
}
  .network__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
  }

  .network__item:last-child {
    margin-right: 0px;
  }

  .network__item--telegram .network__link {
    background-image: url(./img/social/telegram.png);
  }

  .network__item--telegram .network__link:hover {
    background-image: url(./img/social/t-hover.png);
  }

  .network__item--vk .network__link {
    background-image: url(./img/social/vk.png);
  }

  .network__item--vk .network__link:hover {
    background-image: url(./img/social/vk-hover.png);
  }

  .network__item--fb .network__link {
    background-image: url(./img/social/f.png);
  }

  .network__item--fb .network__link:hover {
    background-image: url(./img/social/f-hover.png);
  }

  .network__item--insta .network__link {
    background-image: url(./img/social/instagram.png);
  }

  .network__item--insta .network__link:hover {
    background-image: url(./img/social/instagram-hover.png);
  }

  .network__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
  }
